{% extends 'base.html.twig' %}

{% block title %}Новый пост{% endblock %}

{% block body %}
    <h1>Новый пост</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}

