MARIADB_DATABASE=blog
MARIADB_USER=blog_user
MARIADB_PASSWORD=secret_password_blog
MARIADB_ROOT_PASSWORD=root_secret_password_blog

DB_HOST=db
DB_DATABASE=${MARIADB_DATABASE}
DB_USERNAME=${MARIADB_USER}
DB_PASSWORD=${MARIADB_PASSWORD}
