APP_ENV=prod
APP_DEBUG=0

NGINX_SERVER_NAME=localhost

POSTGRES_DB=context
POSTGRES_USER=context_user
POSTGRES_PASSWORD=secret_password

RABBITMQ_USER=rabbitmq_user
RABBITMQ_PASSWORD=secret_password_rabbit
RABBITMQ_VHOST=/

DB_HOST=db
DB_DATABASE=${POSTGRES_DB}
DB_USERNAME=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}

MESSENGER_TRANSPORT_DSN=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST:-rabbitmq}:5672${RABBITMQ_VHOST:-/}

###> Telegram ###
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
TELEGRAM_WEBHOOK_SECRET=YOUR_RANDOM_SECRET_HERE
###< Telegram ###

###> Ollama ###
OLLAMA_URL=http://ollama:11434
###< Ollama ###
